<footer>
  <a href="/"><img src="/logo-white.svg" alt="Mostly Right" class="footer-logo" /></a>
  <div class="footer-right">
    <a href="/weather/" class="footer-link">Weather</a>
    <a href="/docs/" class="footer-link">Docs</a>
    <a href="#" class="footer-link" id="footer-mission">Our Mission</a>
  </div>
</footer>
