<footer>
  <a href="/"><img src="/logo-white.svg" alt="Mostly Right" class="footer-logo" /></a>
  <div class="footer-right">
    <a href="#" class="footer-link" id="footer-mission">Our Mission</a>
    <a href="/pitch/" class="footer-link">Pitch Deck</a>
  </div>
</footer>
