<nav>
  <a href="/"><img src="/logo-white.svg" alt="Mostly Right" class="logo" /></a>
  <div class="nav-right">
    <a href="/weather/" class="nav-text-link nav-text-link-primary">Weather</a>
    <a href="#" class="nav-text-link" id="principles-open">Our Mission</a>
    <a href="#early-access" class="nav-link">Get Early Access</a>
  </div>
</nav>
