<nav>
  <a href="/"><img src="/logo-white.svg" alt="Mostly Right" class="logo" /></a>
  <div class="nav-right">
    <a href="#" class="nav-text-link" id="principles-open">Our Mission</a>
    <a href="/pitch/" class="nav-text-link">Pitch Deck</a>
    <a href="#early-access" class="nav-link">Get Early Access</a>
  </div>
</nav>
